# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Byte-compiled / optimized / DLL Files
__pycache__/
*.py[cod]

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac OS X Garbage Files
*.DS_Store
*._DS_Store

# vim swap files
.*.swp

